# Markdown
snippet link
	[${1:text}](${2:url})
snippet image
	{% img ${1:center} ${2:http://dl.dropbox.com/u/10351676/images/filename} %}
snippet imageu
	![$1](http://dl.dropbox.com/u/10351676/images/UIKitBook/${1:filename.png})
snippet more
	<!-- more -->
snippet sample
	- サンプルコード ${1:xxx}.m
	
	\`\`\`objc
	${2}
	\`\`\`
