[submodule ".vim/pack/thinpl/start/thinpl"]
	path = .vim/pack/thinpl/start/thinpl
	url = git@github.com:tokorom/thinpl.git
[submodule "secrets"]
	path = secrets
	url = git@github.com:tokorom/secrets.git
