# ignore all files
/*
/.*
# require files
!/Library/Application Support/KeyRemap4MacBook/*.xml
!/Library/Developer/Xcode/Templates/
!/bin
!/vimfiles
!/.gitconfig
!/.gitignore
!/.gvimrc
!/.screenrc
!/.tmux.conf
!/.vimperatorrc
!/.vimrc
!/.zshenv
!/.zshrc
!/dot.nodoka
# add ignore files
.DS_Store
.svn
*.pyc
.netrwhist
# add local files
*.local
