# ignore all files
/*
/.*
# require files
!README.md
!/Documents/terminal/*.terminal
!/bin
!/.vim
/.vim/.*
!/.gitconfig
!/.gitignore
!/.global_gitignore
!/.gvimrc
!/.screenrc
!/.tmux.conf
!/.vimperatorrc
!/.vimrc
!/.cvimrc
!/vimium-options.json
!/.tigrc
!/.zshenv
!/.zshrc
!/.zsh
!/.fzf
!/.hammerspoon
!/.agignore
!/clear_backups
!/Brewfile
!/Gemfile
!/terminal
!/.broadlinkjs.config
!/.vim-replace-current-line
# add ignore files
.DS_Store
.svn
*.pyc
.netrwhist
