[user]
    name = tokorom
    email = tokorom@gmail.com
[core]  

[diff]
    color = auto
    rename = copy
[color] 
    ui = auto
[alias]
    co = checkout
    cm = commit -a
    cmn = commit
    cmi = commit --interactive
    st = status
    stn = status --untracked-files=no
    br = branch
    re = reset --hard
    diffl = diff --name-status
    ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    type = cat-file -t
    dump = cat-file -p
[pager]
    color = true
[status]
    color = auto

