[user]
    name = tokorom
    email = tokorom@gmail.com
[core]  

[diff]
    color = auto
    rename = copy
[color] 
    ui = auto
[alias]
    co = checkout
    cob = checkout -b
    cm = commit -a
    cmn = commit
    cmi = commit --interactive
    st = status ./
    stn = status --untracked-files=no ./
    rmc = rm --cached
    br = branch
    brr = branch -a
    ms = merge --squash
    re = reset --hard
    diffs = diff --staged
    diffr = diff origin
    diffl = diff --name-status
    difflr = diff --name-status origin
    ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    lg = log --graph
    lp = log -p --stat
    type = cat-file -t
    dump = cat-file -p
[pager]
    color = true
[status]
    color = auto
[http]
    sslVerify = false
