[user]
  name = tokorom
  email = tokorom@gmail.com
[core]  
  quotepath = false
  excludesfile = ~/.global_gitignore
  editor = vim
  pager = delta
[init]
	defaultBranch = main
[interactive]
    diffFilter = delta --color-only
[color] 
  ui = auto
[alias]
  ad = add
  sw = switch
  swc = switch -c
  swm = switch main
  res = restore
  cm = commit
  amend = commit --amend -a
  st = status ./
  rmc = rm --cached
  br = branch
  me = merge
  rb = rebase
  rbm = rebase main
  pl = pull
  plm = pull origin main
  pla = pull origin @
  plu = pull upstream main
  ps = push
  psm = push origin main
  psa = push origin @
  psu = push upstream main
  df = diff --ignore-space-change
  dfs = diff --staged --ignore-space-change
  dfl = diff --name-status
  l = log
  ll = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  lg = log --graph
  ls = log --stat
  lp = log -p --stat
  lo = log --oneline --decorate
  rv = remote -v
  ru = remote update
[pager]
  color = true
[status]
  color = auto
[http]
  sslVerify = false
[push]
  default = current
[merge]
  conflictstyle = diff3
[diff]
  color = auto
  rename = copy
  colorMoved = default
[pull]
  rebase = false
[commit]
  verbose = true
[delta]
  navigate = true  # use n and N to move between diff sections
