# ignore all files
/*
/.*
# require files
!README.md
!/.vim
/.vim/.*
/.vim/pack
!/.vim/pack/thinpl/start
!/.gitconfig
!/.gitignore
!/.global_gitignore
!/.gvimrc
!/.tmux.conf
!/.vimrc
!/.cvimrc
!/vimium-options.json
!/.tigrc
!/.zshenv
!/.zshrc
!/.zsh
!/.fzf
!/.hammerspoon
!/.agignore
!/terminal
!/alfred
!/.vim-replace-current-line
!/private.zip
!/.ssh/config
# add ignore files
.DS_Store
.svn
*.pyc
.netrwhist
